<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">

    <title>{{title}}</title>
</head>

<body>
    <div class="z-0 relative bg-white">
        {{>nav}}
        <div class="pt-5 p-3">
            {{{body}}}
        </div>
    </div>

</body>

</html>