<div class="flex content-center flex-wrap w-100%">
    <div class="w-2/3">
        <h1 class="text-4xl leading-5 font-medium text-blue-400">{{details.name}}</h1>
        <div class="grid grid-cols-2 gap-10 pt-6">
            <div>
                <img src="/uploads/photos/{{details.photo}}">
            </div>
            <div>
                {{details.description}}
            </div>
        </div>
        <div class="grid grid-cols-2 gap-10 pt-6">
            <div>
                {{details.location.address}}
            </div>
            <div>
                Google maps
            </div>
        </div>
    </div>
</div>